# SetupHelpers dependencies

#dist files
dist /extensions/HUD/HUD.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-HUD/master/HUD.dist

git /extensions/SetupHelpers			https://github.com/OpenEngineDK/extensions-SetupHelpers.git
git /extensions/OpenGLRenderer		https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/SDL             https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/SDLImage			https://github.com/OpenEngineDK/extensions-SDLImage.git
git /extensions/OBJResource			https://github.com/OpenEngineDK/extensions-OBJResource.git
git /extensions/HUD				https://github.com/OpenEngineDK/extensions-HUD.git
git /extensions/AccelerationStructures	https://github.com/OpenEngineDK/extensions-AccelerationStructures.git

git-dev /extensions/SDL                    git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/SetupHelpers		git@github.com:OpenEngineDK/extensions-SetupHelpers.git
git-dev /extensions/OpenGLRenderer		git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/SDLImage			git@github.com:OpenEngineDK/extensions-SDLImage.git
git-dev /extensions/OBJResource		git@github.com:OpenEngineDK/extensions-OBJResource.git
git-dev /extensions/HUD			git@github.com:OpenEngineDK/extensions-HUD.git
git-dev /extensions/AccelerationStructures	git@github.com:OpenEngineDK/extensions-AccelerationStructures.git


